body {
  font-family: sans-serif;
  font-size: 1.2rem;
  line-height: 1.1;
}

p, li {
  line-height: 1.5;
  font-size: 1.6rem;
}

h1, h2, h3 {
  line-height: 1.5;
}


.font-invert {
  color: white
}

.license {
  margin-top: 8rem;
  max-width: 300px;
  font-size: 0.5em;
}
